* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #212121;
	background-image: url("../images/bg.jpg");
	background-size: cover;
	height: 100vh;
}

h1 {
	color: #17408B;
	text-shadow: 2px 2px white;
	font-size: 120px;
	text-transform: uppercase;
	font-family: 'Fjalla One', sans-serif;
}

#container {
	margin-top: 10%;
}

.row {
	display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
}

h1 img {
	height: 200px;
	margin-bottom: 15px;
}

.slotContainer {
	border: 5px solid black;
	background-color: white;
	width: 30vw;
	height: 40vh;
	overflow: hidden;
	padding: 15px;
}

.img-fluid:hover {
	animation-name: tada;
	animation-duration: 1.5s;
}
/*.slotBackground {
	background-image: url("../images/bg.jpg");
	background-size: cover;
	opacity: 0.5;
}*/
.btn {
	width: 100%;
	vertical-align: middle;
	margin-top: 20px;
}

#randomizeButton {
	width: 200px;
	margin: 0 auto;
	background-color: #17408B;
	color: white;
	border-radius: 50px;
}

#randomizeButton:hover {
	background-color: white;
	color: black;
}


.animated {
   -webkit-animation-duration: 0.2s;
   animation-duration: 0.2s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
}


/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
.slotContainer {
	height: 17vh;
}
#container {
	margin-left: -14px;
}
h1 img {
	height: 150px;
	margin-bottom: 15px;
}
.btn {
	margin-left: 20px;
}
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { ... }

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
.slotContainer {
	height: 23vh;
}
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }
